* {
     font-family: "VT323", monospace;
    box-sizing: border-box;
}

body {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #d3d0d0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}